.latest__section {
  height: 400px;
  background-repeat: no-repeat;
  background-position: right;
  
  &>div {
    flex-direction: column;
    
    .latest__title {
      max-width: 240px;
    }
    .latest__description {
      max-width: 300px;
    }
  }
}

@media (width > 600px) {
  .latest__section {
    &>div {
      flex-direction: row;
    }
  }
}